* {
  padding: 0px;
  margin: 0px;
  outline: none;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 20px 2%;
}

header {
  display: flex;
  /* width: 800px; */
  justify-content: space-between;
}

ul li {
  list-style: none;
}

.color-gray {
  color: rgb(176, 172, 172);
}

.header-logo {
  display: flex;
  /* justify-content: flex-start; */
  align-items: center;
  width: 200px;
  font-size: 20px;
  color: rgb(87, 85, 85);
}

.header-logo img {
  margin-right: 10px;
}

.header-nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  /* justify-content:; */
  align-items: center;
}
.header-nav ul li {
  padding: 20px;
}

.header-profile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.header-profile span {
  padding: 10px;
  font-size: 23px;
  color: rgb(171, 167, 167);
}
.category-menu {
  padding: 20px;
}

.category-menu span {
  padding: 10px 20px;
  border: 1px solid gray;
  border-radius: 50px;
  margin-right: 20px;
}

.category-menu span:first-child {
  background-color: #e6f3ef;
  color: #056449;
}

.application-list img {
  border-radius: 10px;
}

.application-info {
  display: flex;
  margin: 5px;
}

.application-info img {
  border-radius: 10px;
}

.application-name {
  margin: 10px;
  display: flex;
  flex-direction: column;
  font-size: 15px;
}

.application-name span {
  color: rgb(190, 187, 187);
}

.fa-star {
  font-size: 10px;
}

.application-lists {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
footer {
  padding: 2%;
}

.div-1 {
  display: flex;
}

.div-1 ul {
  /* background-color: gray; */
  display: flex;
  flex-direction: column;
  margin-right: 10%;
  flex-wrap: wrap;
}

.div-1 ul li {
  padding: 10px;
}

.div-2 ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-size: 15px;
}
